


<footer class="footer-distributed">

      <div class="footer-left">

         {% for foot in Footer %}
           {% if forloop.first %}
                  <h3>{{foot.college}}</span></h3>
           {% endif %}
         {% endfor %}

        <p class="footer-links">
          <a href="/" class="link-1">Home</a>

          <a href="#">Events</a>

          <a href="/gallery">Gallery</a>

          <a href="#">Departments</a>

          <a href="#">About</a>

          <a href="#">Contact</a>
        </p>

        <p class="footer-company-about">
          <span>Motive of College</span>
            {% for foot in Footer %}
              {% if forloop.first %}
                 {{ foot.motive }}
              {% endif %}
            {% endfor %}
        </p>




      </div>

      <div class="footer-center">

          <div>
            <i class="fa fa-map-marker"></i>
            {% for foot in Footer %}
                {% if forloop.first %}
                  <a href="{{ foot.address_link }}" target=" ">
                      <p><span>
                       Chak Bhatti Road,Near<br>
                       PAC Colony, <br>
                       Chakdaud Nagar, Naini,
                      </span> Prayagraj, Uttar Pradesh 211008
                      </p>
                  </a>
                {% endif %}
            {% endfor %}

        </div>

       <div>
          <i class="fa fa-phone"></i>
           {% for foot in Footer %}
                {% if forloop.first %}
                  <p>{{ foot.mobile }}</p>
                {% endif %}
            {% endfor %}
        </div>

        <div>
          <i class="fa fa-envelope"></i>
            {% for foot in Footer %}
                {% if forloop.first %}
                  <p><a href="mailto:{{foot.email}}">{{ foot.email }}</a></p>
                {% endif %}
            {% endfor %}

        </div>



      </div>

      <div class="footer-right">

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

          <script>

          function IsEmpty()
          {
              if (document.forms['frm'].email.value === "") {
                alert("Please enter valid email!!!");
                return false;
              }

              if (document.forms['frm'].message.value === "") {
                alert("Please Write Message!!!");
                return false;
              }



              return true;
           }
          </script>

        <div class="form-group">
            {% if messages %}
              {% for message in messages %}
            <script>
             alert("Your response has been sent!");
            </script>

              {% endfor %}
            {% endif %}
        </div>
        <form name="frm" action="." method="post" id="Dog">
            {% csrf_token %}
          <input type="email" name="email" placeholder="Email">
          <textarea name="message" placeholder="Message" ></textarea>
          <button onclick="return IsEmpty();" type="submit">Send</button>

        </form>


      </div>



     <p class="footer-company-name">ajaykr00kj © 2021</p>

    </footer>