{% extends 'base.html' %}
{% load static %}
{% block content %}


    <br><br><br>

  
<div class="demo1">
<ul class="galeria">
  <li><a href="#img1"><img src="{% static 'images/bg_1.jpg' %}"></a></li>
  <li><a href="#img2"><img src="{% static 'images/bg_2.jpg' %}"></a></li>
  <li><a href="#img3"><img src="{% static 'images/bg_3.jpg' %}"></a></li>
  <li><a href="#img4"><img src="{% static 'images/bsk_1.jpg' %}"></a></li>
  <li><a href="#img5"><img src="{% static 'images/bsk_2.jpg' %}"></a></li>
  <li><a href="#img6"><img src="{% static 'images/bsk_3.jpg' %}"></a></li>
  <li><a href="#img7"><img src="{% static 'images/ckt_1.jpg' %}"></a></li>
  <li><a href="#img8"><img src="{% static 'images/ckt_2.jpg' %}"></a></li>
  <li><a href="#img9"><img src="{% static 'images/ckt_3.jpg' %}"></a></li>
  <li><a href="#img10"><img src="{% static 'images/chs_4.jpg' %}"></a></li>
  <li><a href="#img11"><img src="{% static 'images/ckt_5.jpg' %}"></a></li>
  <li><a href="#img12"><img src="{% static 'images/crm_1.jpg' %}"></a></li>

</ul>



<figure id="img1" class="lbox bounce">
  <span><a href="#img12" title='Anterior'><i class="fas fa-angle-left"></i></a></span>
<img alt="Cachorrito 1" title="Cachorrito 1" src="{% static 'images/bg_1.jpg' %}"/>
  <span id='right'><a href="#img2" title='Siguiente'><i class="fas fa-angle-right"></i></a></span>
<a title='Cerrar' href="#_"><i class="fas fa-times"></i></a>
  <h2>Título opcional</h2>
</figure>

<figure id="img2" class="lbox bounce">
  <span><a href="#img1" title='Anterior'><i class="fas fa-angle-left"></i></a></span>
<img alt="Cachorrito 1" title="Cachorrito 1" src="{% static 'images/bg_2.jpg' %}"/>
  <span id='right'><a href="#img3" title='Siguiente'><i class="fas fa-angle-right"></i></a></span>
<a title='Cerrar' href="#_"><i class="fas fa-times"></i></a>
  <h2>Título opcional</h2>
</figure>

<figure id="img3" class="lbox bounce">
  <span><a href="#img2" title='Anterior'><i class="fas fa-angle-left"></i></a></span>
<img alt="Cachorrito 1" title="Cachorrito 1" src="{% static 'images/bg_3.jpg' %}"/>
  <span id='right'><a href="#img4" title='Siguiente'><i class="fas fa-angle-right"></i></a></span>
<a title='Cerrar' href="#_"><i class="fas fa-times"></i></a>
  <h2>Título opcional</h2>
</figure>

<figure id="img4" class="lbox bounce">
  <span><a href="#img3" title='Anterior'><i class="fas fa-angle-left"></i></a></span>
<img alt="Cachorrito 1" title="Cachorrito 1" src="{% static 'images/bsk_1.jpg' %}"/>
  <span id='right'><a href="#img5" title='Siguiente'><i class="fas fa-angle-right"></i></a></span>
<a title='Cerrar' href="#_"><i class="fas fa-times"></i></a>
  <h2>Título opcional</h2>
</figure>

<figure id="img5" class="lbox bounce">
  <span><a href="#img4" title='Anterior'><i class="fas fa-angle-left"></i></a></span>
<img alt="Cachorrito 1" title="Cachorrito 1" src="{% static 'images/bsk_2.jpg' %}"/>
  <span id='right'><a href="#img6" title='Siguiente'><i class="fas fa-angle-right"></i></a></span>
<a title='Cerrar' href="#_"><i class="fas fa-times"></i></a>
  <h2>Título opcional</h2>
</figure>

<figure id="img6" class="lbox bounce">
  <span><a href="#img5" title='Anterior'><i class="fas fa-angle-left"></i></a></span>
<img alt="Cachorrito 1" title="Cachorrito 1" src="{% static 'images/bsk_3.jpg' %}"/>
  <span id='right'><a href="#img7" title='Siguiente'><i class="fas fa-angle-right"></i></a></span>
<a title='Cerrar' href="#_"><i class="fas fa-times"></i></a>
  <h2>Título opcional</h2>
</figure>

<figure id="img7" class="lbox bounce">
  <span><a href="#img6" title='Anterior'><i class="fas fa-angle-left"></i></a></span>
<img alt="Cachorrito 1" title="Cachorrito 1" src="{% static 'images/ckt_1.jpg' %}"/>
  <span id='right'><a href="#img8" title='Siguiente'><i class="fas fa-angle-right"></i></a></span>
<a title='Cerrar' href="#_"><i class="fas fa-times"></i></a>
  <h2>Título opcional</h2>
</figure>

<figure id="img8" class="lbox bounce">
  <span><a href="#img7" title='Anterior'><i class="fas fa-angle-left"></i></a></span>
<img alt="Cachorrito 1" title="Cachorrito 1" src="{% static 'images/ckt_2.jpg' %}"/>
  <span id='right'><a href="#img9" title='Siguiente'><i class="fas fa-angle-right"></i></a></span>
<a title='Cerrar' href="#_"><i class="fas fa-times"></i></a>
  <h2>Título opcional</h2>
</figure>

<figure id="img9" class="lbox bounce">
  <span><a href="#img8" title='Anterior'><i class="fas fa-angle-left"></i></a></span>
<img alt="Cachorrito 1" title="Cachorrito 1" src="{% static 'images/ckt_3.jpg' %}"/>
  <span id='right'><a href="#img10" title='Siguiente'><i class="fas fa-angle-right"></i></a></span>
<a title='Cerrar' href="#_"><i class="fas fa-times"></i></a>
  <h2>Título opcional</h2>
</figure>

<figure id="img10" class="lbox bounce">
  <span><a href="#img9" title='Anterior'><i class="fas fa-angle-left"></i></a></span>
<img alt="Cachorrito 1" title="Cachorrito 1" src="{% static 'images/chs_4.jpg' %}"/>
  <span id='right'><a href="#img11" title='Siguiente'><i class="fas fa-angle-right"></i></a></span>
<a title='Cerrar' href="#_"><i class="fas fa-times"></i></a>
  <h2>Título opcional</h2>
</figure>

<figure id="img11" class="lbox bounce">
  <span><a href="#img10" title='Anterior'><i class="fas fa-angle-left"></i></a></span>
<img alt="Cachorrito 1" title="Cachorrito 1" src="{% static 'images/ckt_5.jpg' %}"/>
  <span id='right'><a href="#img12" title='Siguiente'><i class="fas fa-angle-right"></i></a></span>
<a title='Cerrar' href="#_"><i class="fas fa-times"></i></a>
  <h2>Título opcional</h2>
</figure>

<figure id="img12" class="lbox bounce">
  <span><a href="#img11" title='Anterior'><i class="fas fa-angle-left"></i></a></span>
<img alt="Cachorrito 1" title="Cachorrito 1" src="{% static 'images/crm_1.jpg' %}"/>
  <span id='right'><a href="#img1" title='Siguiente'><i class="fas fa-angle-right"></i></a></span>
<a title='Cerrar' href="#_"><i class="fas fa-times"></i></a>
  <h2>Título opcional</h2>
</figure>
  
  </div>
   




 {% endblock content %}